/*
!/.gitignore
!/README.md
!/LICENSE
!/NOTICE
!/AGENTS.md
!/.env.example
!/.dockerignore
!/docker-compose.yml
!/docs/
!/matchmate-mobile/
!/matchmate-server/

.idea/
*.iml
*.iws
*.ipr

.DS_Store
Thumbs.db
