<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cinoo.matchmateserver.mapper.CardExpenseParticipantMapper">

    <select id="selectByExpenseId" resultType="com.cinoo.matchmateserver.model.domain.CardExpenseParticipant">
        SELECT *
        FROM cardExpenseParticipant
        WHERE expenseId = #{expenseId}
        ORDER BY id ASC
    </select>

    <select id="selectByExpenseIds" resultType="com.cinoo.matchmateserver.model.domain.CardExpenseParticipant">
        SELECT *
        FROM cardExpenseParticipant
        WHERE expenseId IN
        <foreach collection="expenseIds" item="expenseId" open="(" separator="," close=")">
            #{expenseId}
        </foreach>
        ORDER BY expenseId ASC, id ASC
    </select>

    <insert id="insertBatch">
        INSERT INTO cardExpenseParticipant (expenseId, userId)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.expenseId}, #{item.userId})
        </foreach>
    </insert>

</mapper>
