<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cinoo.matchmateserver.mapper.CardRoundScoreMapper">

    <select id="selectByRoundId" resultType="com.cinoo.matchmateserver.model.domain.CardRoundScore">
        SELECT *
        FROM cardRoundScore
        WHERE roundId = #{roundId}
        ORDER BY id ASC
    </select>

    <select id="selectByRoundIds" resultType="com.cinoo.matchmateserver.model.domain.CardRoundScore">
        SELECT *
        FROM cardRoundScore
        WHERE roundId IN
        <foreach collection="roundIds" item="roundId" open="(" separator="," close=")">
            #{roundId}
        </foreach>
        ORDER BY roundId ASC, id ASC
    </select>

    <insert id="insertBatch">
        INSERT INTO cardRoundScore (roundId, userId, score)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.roundId}, #{item.userId}, #{item.score})
        </foreach>
    </insert>

</mapper>
