<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cinoo.matchmateserver.mapper.CardFundParticipantMapper">

    <select id="selectByFundIds" resultType="com.cinoo.matchmateserver.model.domain.CardFundParticipant">
        SELECT id, fund_id, user_id
        FROM card_fund_participant
        WHERE fund_id IN
        <foreach collection="fundIds" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <insert id="insertBatch" parameterType="list">
        INSERT INTO card_fund_participant (fund_id, user_id) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.fundId}, #{item.userId})
        </foreach>
    </insert>

</mapper>
