<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cinoo.matchmateserver.mapper.CardFundRecordMapper">

    <select id="selectByRoomId" resultType="com.cinoo.matchmateserver.model.domain.CardFundRecord">
        SELECT id,
               room_id AS roomId,
               type,
               amount,
               creator_id AS creatorId,
               create_time AS createTime
        FROM card_fund_record
        WHERE room_id = #{roomId}
        ORDER BY create_time DESC
        LIMIT #{limit}
    </select>

</mapper>
