<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cinoo.matchmateserver.card.mapper.CardFundParticipantMapper">

    <select id="selectByFundIds" resultType="com.cinoo.matchmateserver.card.model.entity.CardFundParticipant">
        SELECT id, fund_id AS fundId, user_id AS userId
        FROM card_fund_participant
        WHERE fund_id IN
        <foreach collection="fundIds" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <select id="selectByFundId" resultType="com.cinoo.matchmateserver.card.model.entity.CardFundParticipant">
        SELECT id, fund_id AS fundId, user_id AS userId
        FROM card_fund_participant
        WHERE fund_id = #{fundId}
        ORDER BY id ASC
    </select>

    <insert id="insertBatch" parameterType="list">
        INSERT INTO card_fund_participant (fund_id, user_id) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.fundId}, #{item.userId})
        </foreach>
    </insert>

    <delete id="deleteByFundId">
        DELETE FROM card_fund_participant
        WHERE fund_id = #{fundId}
    </delete>

</mapper>
